// 外部容器样式
@themeColor:#FF0000;
.container {
    background-color: #fff;
    min-width: 1489px;
    height: 1000px;
    .imgWrapper{
        display: flex;
        width: 100%;
        flex:1;
        a{
            img{
                width: 100%;
            }
        }
    }
    // 头部
    .header {
        min-width: 1349px;
        height: 30px;
        background-color: #E3E4E5;
        border-bottom: 1px solid #e2e5e7;
        // 头部导航条
        .top_nav_outer_wrap {
            height: 30px;
            width: 1489px;
            background-color: #E3E4E5;
            margin:auto;
            font:12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
            .top_nav_inner_wrap {
                width: 1190px;
                height: 30px;
                background-color: #E3E4E5;
                margin:auto;
                color: #A3A3A3;
                a{
                    color: #A3A3A3;
                    text-decoration: none;
                }
                a:hover{
                    color: #e33333;
                }
                .red{
                    color: #FF0000;
                }
                .iconfont{
                    vertical-align: bottom;
                }
                line-height: 29px;
                .left_wrap{
                    display: float;
                    float: left;
                    .cityItems{
                        padding: 0 7px 0 7px;
                        border: 1px solid transparent;
                        position: relative;
                        // 掩盖
                        .conceal{
                            width: 56px;
                            height: 2px;
                            background-color:white;
                            position: absolute;
                            z-index: 30;
                            left:1px;
                            top:28px;
                            display:none;
                        }
                         // 下拉层
                        .citys_container{
                            width: 319px;
                            height: 442px;
                            background-color: #fff;
                            border:solid 1px  rgb(204, 204, 204);
                            // 设置阴影
                            box-shadow:rgba(0, 0, 0, .1) 2px 2px 2px;
                            position: absolute;
                            top: 28px;
                            left:-1px;
                            display:none;
                            visibility:hidden;
                            opacity: 0;
                            div{
                                width:100%;
                                height: 100%;
                                box-sizing: border-box;
                                padding: 10px;
                            }
                            ul{
                                // display: flex;
                                // flex-flow:wrap;
                                // justify-content:space-around;
                                li{
                                    padding: 2px 0 ;
                                    width: 59px;
                                    text-align:start;
                                    float:left;
                                    a{
                                        font:12px;
                                        padding:0px 7px
                                    }
                                }
                            }
                        }
                        
                    }
                    .cityItems:hover .citys_container,
                    .cityItems:hover .conceal{
                        display:block;
                        visibility:visible;
                        opacity:1;
                        transition: .3s all;
                    }
                    .cityItems:hover {
                        background-color: #fff;
                        border: 1px solid #bbbaba;
                        border-bottom:3px solid #fff;
                    }
                    .iconfont{
                        color: @themeColor;
                    }
                }
                .right_wrap{
                    display: float;
                    float: right;
                    ul{
                        li{
                            padding: 0 7px;
                            border: 1px solid transparent;
                        }
                        display:flex;
                        justify-content: flex-end;
                        .first{
                            // padding-right: 10px;
                        }
                        .line{
                            overflow: hidden;
                            width: 1px;
                            height: 10px;
                            background-color: #CCCCCC;
                            margin: 11px 5px 0
                        }
                        .pulldown{
                            position: relative;
                            
                            .myJd{
                                border:1px solid red;
                                display:none;
                                position: absolute;
                                width: 161px;
                                height: 161px;
                                top: 29px;
                                left: -1px;
                            }
                            .conceal{
                                width: 100%;
                                height: 1px;
                                background-color: #fff;
                                position: absolute;
                                top:29px;
                                left:1px;
                                z-index: 30;
                                display:none;
                            }
                        }
                        .pulldown:hover{
                            background-color: #fff;
                            border:1px solid red;
                            border-bottom: none;
                        }
                        .pulldown:hover .myJd,
                        .pulldown:hover .conceal{
                            background-color: #fff;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}